 <%= render "shared/header" %>
 
 <%# 商品一覧 %>
  <div class='item-contents'>
    <div class='title'>
      <% if @keyword == '' %>
        <%= "'全て'の検索結果" %>
      <% else %>
        <%= "'#{@keyword}'の検索結果" %>
      <% end %>
    </div>
    <ul class='item-lists'>
      <% @items.each do |item| %>
        <li class='list'>
          <%= link_to item_path(item.id) do %>
          <div class='item-img-content'>
            <%= image_tag item.image, class: "item-img" %>
            <% if item.purchased_item %>
              <div class='sold-out'>
              <span>Sold Out!!</span>
              </div>
            <% end %>
          </div>
          <div class='item-info'>
            <h3 class='item-name'>
              <%= item.name %>
            </h3>
            <div class='item-price'>
              <span><%= item.price %>円<br><%= item.delivery_charge.name %></span>
              <div class='star-btn'>
                <%= image_tag "star.png", class:"star-icon" %>
                <span class='star-count'>0</span>
              </div>
            </div>
          </div>
          <% end %>
        </li>
      <% end %>
      <% unless @items.exists? %>
        <div class="message" >
          商品がありません
        </div>
      <% end %>
    </ul>
  </div>
  <%# /商品一覧 %>

  <%= render "shared/footer" %>