<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @item.name %>
    </h2>
    <div class="item-img-content">
      <%= image_tag @item.image,class:"item-box-img" %>
      <% if @item.purchased_item %>
        <div class="sold-out">
          <span>Sold Out!!</span>
        </div>
      <% end %>
    </div>
    <div class="item-price-box">
      <span class="item-price">
        ¥ <%= @item.price %>
      </span>
      <span class="item-postage">
        <%= @item.delivery_charge.name %>
      </span>
    </div>
    <% if user_signed_in? %>
      <% unless @item.purchased_item %>
        <%if @item.user.id == current_user.id %>
          <%= link_to "商品の編集", edit_item_path(@item.id) , method: :get, class: "item-red-btn" %>
          <p class="or-text">or</p>
          <%= link_to "削除", item_path(@item.id), method: :delete, class:"item-destroy" %>
        <% else %>
          <%= link_to "購入画面に進む", item_purchased_items_path(@item) ,class:"item-red-btn"%>
        <% end %>
      <% end %>
    <% end %>

    <div class="item-explain-box">
      <span><%= @item.explanation %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value"><%= @item.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @item.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">商品の状態</th>
          <td class="detail-value"><%= @item.status.name %></td>
        </tr>
        <tr>
          <th class="detail-item">配送料の負担</th>
          <td class="detail-value"><%= @item.delivery_charge.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送元の地域</th>
          <td class="detail-value"><%= @item.area.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送日の目安</th>
          <td class="detail-value"><%= @item.date_of_shipping.name %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <% if @current_user_good_item == '' %>
        <input type="hidden", id="info_item_id", value=<%= @item.id %>>
        <%= form_with url: item_good_items_path(@item), method: :post, id: "form", local: true do |f| %>
          <button id="favorite-btn">
            <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
            <span id="good_item_count">お気に入り <%= @good_item.count %></span>
          </button>
        <% end %>
      <% else %>
        <input type="hidden", id="info_id", value=<%=@current_user_good_item.id%>>
        <input type="hidden", id="info_item_id", value=<%= @current_user_good_item.item_id %>>
        <%= form_with url: item_good_item_path(@current_user_good_item), method: :DELETE, id: "form-destroy", local: true do |f| %>
          <button id="favorite-btn-destroy">
            <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
            <span id="good_item_count">お気に入り <%= @good_item.count %></span>
          </button>
        <% end %>
      <% end %>
      <div class="report-btn">
        <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span>不適切な商品の通報</span>
      </div>
    </div>
  </div>
  <%# /商品の概要 %>
  <div class="comment-box">
    <h4>＜コメント一覧＞</h4>
    <div id="comments">
      <% @comments.each do |comment| %>
        <div class="upper-comment">
          <div class="comment-user">
            <%= comment.user.nickname %>
          </div>
          <div class="comment-date">
            <%= comment.created_at.to_s.slice(0..10) %>
          </div>
        </div>
        <div class="lower-comment">
          <div class="comment-content">
            <%= comment.text%></p>
          </div>
        </div>
      <% end %>
    </div>
    <% if user_signed_in? %>
      <%= form_with model: [@item, @comment], id: "comment-form", local: true do |f| %>
        <%= f.text_area :text, class:"comment-text" %>
        <p class="comment-warn">
          相手のことを考え丁寧なコメントを心がけましょう。
        <br>
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        </p>
        <button type="submit" class="comment-btn">
          <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
          <span>コメントする<span>
        </button>
      <% end %>
    <% end %>
  </div>
  <div class="links">
    <% if @item.id != @item_first.id %>
      <%= link_to "＜ 前の商品", item_path(@item.id + 1), class: "change-item-btn" %>
    <% else %>
      <p>            </p>
    <% end %>
    <% if @item.id != @item_last.id %>
      <%= link_to "後ろの商品 ＞", item_path(@item.id - 1), class: "change-item-btn" %>
    <% else %>
      <p>            </p>
    <% end %>
  </div>
  <a href="#" class="another-item"><%= @item.category.name %>をもっと見る</a>
</div>
<%= render "shared/footer" %>
